<h1>Sign In</h1>

<div class="container">
    <div class="main-container">
        <form action="/create-session" method="post">
            <input type="email" name="email" placeholder="Enter your E-mail" required>
            <input type="password" name="password" placeholder="Enter your Password" required>
            <button type="submit">Sign-In</button>
        </form>
    </div>
</div>